html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  background-image: url("../img/background.png");
  background-size: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square {
  position: relative;
  background-image: url("../img/square.png");
  height: 90%;
  width: 90%;
  max-height: 1000px;
  max-width: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

svg {
  width: 100%;
  height: 100%;
}

.tree1 {
  position: absolute;
  width: 40rem;
  top: -10rem;
  left: 10rem;
}

.tree2 {
  position: absolute;
  width: 40rem;
  top: -10rem;
  right: 10rem;
}

.cloud1 {
  width: 40rem;
  position: absolute;
  left: -30rem;
  bottom: -10rem;
  z-index: 10;
  animation: move-right 20s linear infinite;
}

.cloud2 {
  width: 30rem;
  position: absolute;
  left: 20rem;
  bottom: -10rem;
  z-index: 5;
  animation: move-right 20s linear infinite;
}

.cloud3 {
  width: 30rem;
  position: absolute;
  right: 20rem;
  bottom: -10rem;
  z-index: 4;
  animation: move-left 20s linear infinite;
}

.cloud4 {
  width: 40rem;
  position: absolute;
  right: -30rem;
  bottom: -10rem;
  z-index: 9;
  animation: move-left 20s linear infinite;
}

.red-flower {
  position: absolute;
  width: 30rem;
  z-index: -1;
  left: 5rem;
}

.rotate-right {
  animation: rotate-right 20s linear infinite;
}

.latern {
  width: 25rem;
  position: absolute;
  animation: swing 2s ease-in-out infinite alternate;
  transform-origin: 50% 0;
  z-index: 999;
}

.latern.left {
  left: 40rem;
  top: -10rem;
}

.latern.right {
  right: 40rem;
  top: -10rem;
}

.texts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: zoom 2s ease-in-out infinite alternate;
}

.cat {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 40%);
  z-index: 9999;
  animation: cat-move 10s ease-in-out infinite alternate;
}

@keyframes cat-move {
  0% {
    bottom: 0;
    right: 0;
  }
  100% {
    right: 100%;
    bottom: 0;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) { 
  .latern {
    top: -2rem !important;
  }

  .latern.left {
    left: 1rem !important;
    width: 10rem;
  }

  .latern.right {
    right: 1rem !important;
    width: 10rem;
  }

  .red-flower {
    width: 10rem !important;
    bottom: 40rem;
  }

  .cloud1 {
    width: 14rem;
    left: -6rem;
    bottom: -1rem;
    animation: none;
  }

  .cloud2 {
    width: 10rem;
    left: 0rem !important;
    bottom: -2rem;
    animation: none;
  }
  
  .cloud3 {
    width: 10rem;
    right: 5rem;
    bottom: -2rem;
    animation: none;
  }
  .cloud4 {
    width: 14rem;
    right: -6rem;
    bottom: -1rem;
    animation: none;
  }
  .red-flower {
    width: 20rem;
    left: 2rem;
  }
  .latern.left {
    left: 20rem;
  }
  .latern.right {
    right: 20rem;
  }

  .cat {
    width: 10rem;
  }
}